.card-layout {
    border-radius: 8px;
    border: 2px solid #D9DBE9;
}

.card-layout-borderless {
    border-radius: 8px;
    border: 1px solid #D9DBE9;
}

.markercluster-map {
    height: 40vh;
}

.logo-gradient {
    background: linear-gradient(92.28deg, #6B15B5 3.33%, #9C24C7 113.83%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}